version: "3.9"

services:
  api:
    build: ./crud
    container_name: crud
    env_file: ./crud/.env
    ports:
      - "3000:3000"
    depends_on:
      - postgres
    networks:
      - app-network

  publisher:
    build: ./campo-update
    container_name: campo-updater
    env_file: ./campo-update/.env
    ports:
      - "3002:3002"
    networks:
      - app-network

  postgres:
    image: postgres:latest
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: crud
    ports:
      - "5433:5432"
    networks:
      - app-network
    volumes:
      - postgres_data:/var/lib/postgresql/data

networks:
  app-network:

volumes:
  postgres_data: